/* Required - Don't Edit */
#main-frame { border: 0px solid white; line-height: 1.2em; }
	#message a:link { color: #ccaa00; }
	#message a:visited { color: #ccaa00; }
	#path a:link { color: #af7733; }
	#path a:visited { color: #af7733; }	
#content-messpath-frame {  }	


/* Required - Editable */
#main-frame { background-color: #030000; height: auto; border-top: 1px solid black; } /* sets background color of default sidenav or border */
#content-outer-frame { background-color: #030000; border-left: 1px solid #030000; } /* sets background color of content area */
														 /* border-left required in IE6 or single line headers won't show up */
#footer-frame { background-color: #030000; } /* sets background color of footer.  set same as content area */
body { background-color: #030000; } /* sets background color below footer on short pages.  set same as content area */
#content-outer-frame { color: #a1a1b5; } /* set font color of content area */
	a:link { color: #cc9900; }
	a:visited {color: #af7733; }


/* Data Summary Card */
.summary-card { border-top: 4px solid #383634; border-left: 4px solid #343230; border-right: 4px solid #131211; border-bottom: 4px solid #131211; background-color: #242217; }
.summary-card-text-surround { padding-left: 13px; }
.summary-card-topic-image, .summary-card-section-image { border-left: 2px solid #4a4a4c; border-top: 2px solid #4a4a4c; border-right: 2px solid #2a2a2c; border-bottom: 2px solid #2a2a2c; }
	.summary-card-topic-image a:link, a:visited { color: #bb7500; }
.sum-head1, .sum-head2, .sum-head3, .sum-head4, .sum-head5 { color: #779977; border-bottom: 1px solid #779977; width: 345px;}
.sum-head2 { margin-top: 12px; }

.sum-common-name, .sum-chem-name, .sum-effects { font: 700 9pt arial,sans-serif; text-align: left; width: 325px; margin-top: 5px; margin-bottom: 13px; margin-left: 16px; margin-right: 15px; }
.sum-description, .sum-caution { font: 700 9pt arial,sans-serif; text-align: left; margin-top: 5px; margin-bottom: 13px; margin-left: 16px; margin-right: 15px; }

.summary-card-icon-surround { text-align: center; padding-top: 0px; padding-bottom: 10px; padding-left: 16px; padding-right: 16px; border: 0px solid #8888aa; }
.summary-icon { display: inline; width: 75px; height: 75px; padding: 0px; margin-left: 1px; margin-right: 1px; margin-top: 0px; margin-bottom: 0px; border: 2px solid #bbbbbb; }
	.summary-icon:hover { border: 2px solid #927f92; }
img.summary-icon-spacer { display: inline; width: 75px; height: 75px; padding: 0px; margin-left: 1px; margin-right: 1px; margin-top: 0px; margin-bottom: 0px; border: 2px solid #000000; background-color: #101010; }


/* Index Text Section - On Misc Indexes */	
.index-text-outer { border-top: 2px solid #777777; border-bottom: 2px solid #777777; padding-top: 12px; padding-bottom: 12px; margin-bottom: 20px; }


/* Topic Index Chart - On Section Indexes */
.topic-chart-surround { border: 2px solid #8d8a83; margin-bottom: 20px; }
.topic-chart-title { text-align: center; background-color: #908c83; color: #000000; border: 1px solid #222222;}
.topic-surround td { background-color: #000000; color: #aaaaa1; border: 1px solid #8d8a83; }
.topic-chart-surround a:link { color: #cc9f00; }
.topic-chart-surround a:visited { color: #bb7500; }


/* Timely Message */
.timely-message-surround { }	
.timely-message { font: 700 10pt arial,sans-serif; letter-spacing: .05em; width: 700px; margin-right: auto; margin-left: auto; margin-top: 25px; padding-top: 4px; padding-bottom: 4px; border-top: 2px solid #bb7500; border-bottom: 2px solid #bb7500; }


/* Links */
.links-list { margin-top: 25px; }
	.links-list a:link { color: #cc9f00; } 
	.links-list a:visited {color: #bb7500; } 
.pa { color: #555555; }
.ish { }
	.ish a:link { color: #555555; }
	.ish a:visited { color: #555555; }
.link-int, .link-ext, .non-link { color: #9fa192; } /* sets non-linked text in links-lists */
.link-int:after { content: " " url("/images/logo_small_db.gif"); } /* adds logo after local links in mozilla */
	.more a:link { color: #a1a188; } /* set font color of more links */
	.more a:visited { color: #a1a188; }
	
.offsite-outer { border: 2px solid #9d9a93; }
.offsite-inner { color: #9d9a93; border: 1px solid #9d9a93; }


/* Index Page Special Column Format  */
/* custom colors go here */


/* Pharms Image Index */
.image-chart-cell { font: 700 9pt arial,sans-serif; height: 24px; text-align: center; }
.image-chart-cell a { margin-left: 5px; margin-right: 5px; }


/* Footer */
.footer-backto { border: 0px solid black; }
.footer-copyright { color: #aaaaaa; }
